<h2 class="pt-3">Familly Members</h2>

  <% @team.users.each do |user| %>
    <div><%= user.email %></div>
    <div><%= link_to 'Edit', edit_user_registration_path(user) %></div>
  <% end %>


  <h4>Invite User</h4>
<%= form_for [@team, TeamUser.new] do |f| %>
  <div>
    <%= f.text_field :email, required: true %>
  </div>
  <%= f.submit "Invite" %>
<%  end %>