<ul class="nav">

    <li class="nav-item pt-3">
      <%= link_to 'Sharebox', root_path, class: "navbar-brand nav-link" %>
    </li>

    <li class="nav-item pt-3">
    <% if user_signed_in? and current_user.teams.exists? %>
        <%= link_to team_path(current_user.teams.last), class: "nav-link" do %> 
        <i class="fa fa-home" aria-hidden="true"></i> Home
        <% end %> 
    <% end %>
    </li>

    <li class="nav-item pt-3">
    <% if user_signed_in? and current_user.teams.exists? %>
        <%= link_to team_contacts_path(current_user.teams.last), class: "nav-link" do %>  
        <i class="fa fa-address-book-o" aria-hidden="true"></i> Contacts
        <% end %>
    <% end %>
    </li>

    <li class="nav-item pt-3">
      <%= link_to edit_user_registration_path, class: "nav-link" do %>
      <i class="fa fa-cog" aria-hidden="true"></i> Settings
      <% end %>
    </li>
   
     <li class="nav-item pt-3">
      <%= link_to destroy_user_session_path, class: "nav-link", method: :delete do %>
      <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out
      <% end %>    
    </li>

</ul>